@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap");

* {
    color: #fff;
    font-family: "Outfit", sans-serif;
    font-size: 10px;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 8rem;
    background-color: hsl(217, 54%, 11%);
}

.main-container {
    width: 270px;
    height: 475px;
    background-color: hsl(216, 50%, 16%);
    position: absolute;
    border-radius: 11px;
    box-shadow: 6px 6px 12px 4px #000;
}

.image-container {
    margin-top: 2rem;
}

.image-container .main-image {
    width: 240px;
    height: 230px;
    display: block;
    margin: 2rem auto;
    border-radius: 11px;
}

.image-container .eye-container {
    position: absolute;
    top: 28%;
    left: 50%;
    width: 89%;
    height: 49%;
    transform: translate(-50%, -50%);
    background-color: hsl(178, 100%, 50%, 60%);
    border-radius: 11px;
    opacity: 0;
    cursor: pointer;
}

.eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
}

.image-container .eye-container:hover {
    opacity: 1;
}

.text-container {
    padding: 0 2rem;
}

.text-container p.title {
    font-size: 1.8rem;
    font-weight: 600;
}

.text-container p.description {
    font-size: 1.3rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
    line-height: 2.2rem;
}

.time,
.time span,
.creator {
    display: flex;
    align-items: center;
    font-size: 1.3rem;
}

.time {
    justify-content: space-between;
}

.time span {
    gap: 0.5rem;
}

.eth {
    color: hsl(178, 100%, 50%);
    font-weight: 600;
}

.day {
    color: hsl(215, 51%, 70%);
}

.line {
    height: 0.1rem;
    background-color: hsl(215, 32%, 27%);
    margin-top: 2rem;
}

.creator {
    gap: 1rem;
    margin-top: 1rem;
}

.creator img {
    width: 2.5rem;
    height: 2.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
}

.creator p {
    font-size: 1.4rem;
    font-weight: 300;
    color: hsl(215, 51%, 70%);
}

.name {
    font-size: 1.4rem;
    font-weight: 600;
}

.title,
.creator p {
    cursor: pointer;
}

.title:hover,
.creator .name:hover {
    color: hsl(178, 100%, 50%);
}
